@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: auto;
}

body {
	margin: 0;
	font-family: 'Space Grotesk', sans-serif;
}

img {
	max-width: 100%;
	display: block;
}
